footer {
    background-color:  white;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
    display: block;
  }
  
  footer p {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }